<form method="post" class="form-delete-structure" action="{{ path('app_structure_delete', {'id': structure.id}) }}" onsubmit="return confirm('Êtes vous sûre de vouloir supprimer cette structure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ structure.id) }}">
    <button class="btn btn-delete-structure">Supprimer</button>
</form>
