{% extends 'base.html.twig' %}

{% block title %}New Structure{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newStructure') }}
{% endblock %}

{% block body %}

    <a class="btn-retour-new-structure" href="{{ path('app_structure_index') }}">Retour</a>

    <h1 class="titre-structure-nouveau text-center">Création d'une structure</h1>

    {{ include('structure/_form.html.twig') }}


{% endblock %}
