
<h1>Bonjour : {{ user.prenom|capitalize }}</h1>

<div>
    <p>Votre compte vient d'être crée sur la plateforme de Stayfit.</p>
    </br>
    <p>Celui-ci vous permettra de visualiser vos infrastructures.</p>
</div>

<div>
    <p>Pour finaliser la création du compte, veuillez cliquer sur le lien ci-dessous:</p>
    </br>
    <a href="{{ url('app_user_confirmer_compte', {"token" : token}) }}">Cliquer ici pour confirmer votre compte</a>
</div>