{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}
{% block meta_description %}Formulaire de création d'un utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <a class="btn-retour-new-utilisateur" href="{{ path('app_user_index') }}">Retour</a>

    <h1 class="titre-utilisateur-nouveau text-center">Création d'un utilisateur</h1>

    {{ include('registration/register.html.twig') }}

{% endblock %}