{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newUser') }}
{% endblock %}

{% block body %}
    <a class="btn-retour-new-utilisateur" href="{{ path('app_user_index') }}">Retour</a>

    <h1 class="titre-utilisateur-nouveau text-center">Création d'un utilisateur</h1>

    {{ include('registration/register.html.twig') }}

{% endblock %}