{% extends 'base.html.twig' %}

{% block title %}Modifier Partenaire{% endblock %}
{% block meta_description %}Formulaire de modification d'un partenaire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <a class="btn-retour-edit-partenaire" href="{{ path('app_partenaire_index') }}">Retour</a>

    <h1 class="titre-partenaire-edit text-center">Modifier Partenaire</h1>

    {{ include('partenaire/_form.html.twig', {'button_label': 'Modifier'}) }}

</div>

{% endblock %}
