{% extends 'base.html.twig' %}

{% block title %}Edit Partenaire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('../assets/styles/editPartenaire.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="body-partenaire-edit">
    <a class="btn-retour-edit-partenaire" href="{{ path('app_partenaire_index') }}">Retour</a>

    <h1 class="titre-partenaire-edit text-center">Modifier Partenaire</h1>

    {{ include('partenaire/_form.html.twig', {'button_label': 'Modifier'}) }}

</div>

{% endblock %}
