<h1>Bonjour {{ user|capitalize }}</h1>

<div>
    <p>Une nouvelle structure vient d'être rattaché à votre franchise.</p>
    </br>
    <p>Vous pouvez dès à présent voir ses informations depuis notre plateforme</p>
</div>

<div>
    <p>Lien d'accès:</p>
    <a href="{{ url('app_login') }}">Rendez-vous sur la plateforme</a>
</div>