{% extends 'base.html.twig' %}

{% block title %}New Partenaire{% endblock %}

{% block stylesheets %}
 
{% endblock %}

{% block body %}
    
    <a class="btn-retour-new-partenaire" href="{{ path('app_partenaire_index') }}">Retour</a>

    <h1 class="titre-partenaire-nouveau text-center" >Création d'un partenaire</h1>

    {{ include('partenaire/_form.html.twig') }}

{% endblock %}
