.btn-retour-edit-module {
    border-radius: 30px;
    background: 
        linear-gradient(90deg, #2C4D90 0%, 
        rgba(229, 229, 229, 0.74) 72.33%);
    font-family: 'Palanquin', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #0C1120;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    left: 80em;
    top: 10em;
}

.btn-retour-edit-module:hover {
    color: #0C1120;
    background: 
        linear-gradient(90deg, 
        rgba(229, 229, 229, 0.74) 0%, rgba(44, 77, 144, 0.75) 96.45%);
}

.titre-module-edit {
    color: #0C1120;
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-family: Pt, serif;
    font-size: 32px;
    letter-spacing: 0.1px;
}