.btn-retour-new-utilisateur {
    border-radius: 30px;
    background: 
        linear-gradient(90deg, #2C4D90 0%, 
        rgba(229, 229, 229, 0.74) 72.33%);
    font-family: 'Palanquin', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #0C1120;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    left: 80%;
    top: 10em;
}

.btn-retour-new-utilisateur:hover {
    color: #0C1120;
    background: 
        linear-gradient(90deg, 
        rgba(229, 229, 229, 0.74) 0%, rgba(44, 77, 144, 0.75) 96.45%);
}

.titre-utilisateur-nouveau {
    color: #0C1120;
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-family: Pt, serif;
    font-size: 32px;
    letter-spacing: 0.1px;
}

.form-save-utilisateur {
    width: 100%;
    max-width: 70%;
    height: auto;
    padding: 30px;
    margin: auto;
    margin-bottom: 10em;
    background-color: #dfe0e0;
    border-radius: 30px;
    font-size: 16px;
}

.form-container-row-utilisateur-save {
    display: grid;
    justify-content: center;
    justify-items: start;
}

.form-container-row-utilisateur-save-statut label {
    font-family: 'palanquin', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-right: 0.8em;
}

.form-container-row-utilisateur-save-autres {
    display: grid;
    justify-content: center;
    justify-items: start;
}

.form-container-row-utilisateur-save label {
    font-family: 'palanquin', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-right: 0.8em;
}

.form-container-row-utilisateur-save-autres label {
    font-family: 'palanquin', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.8em;
}

.form-save-utilisateur input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 30px;
    margin-top: 10px;
   
}
.form-container-row-utilisateur-save input {
    display: grid;
    width: 30em;
}


.form-save-utilisateur select {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 30px;
    margin-top: 10px;
    display: grid;
    width: 30em;
    height: 2.2em;
}


.container-btn-save-utilisateur {
    display: flex;
    justify-content: center;
}

.btn-save-utilisateur {
    width: 10em;
    color: #0C1120;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background: 
        linear-gradient(90deg, #2C4D90 0%, 
        rgba(229, 229, 229, 0.74) 72.33%);
    font-family: 'Palanquin', sans-serif;
    font-weight: 600;
    border: 1px solid #0C1120;
}

.btn-save-utilisateur:hover {
    color: #0C1120;
    background: 
        linear-gradient(90deg, 
        rgba(229, 229, 229, 0.74) 0%, rgba(44, 77, 144, 0.75) 96.45%);
}
