.body-partenaire-show {
    height: 100%;
}

.btn-retour-show-partenaire {
    border-radius: 30px;
    background: 
        linear-gradient(90deg, #2C4D90 0%, 
        rgba(229, 229, 229, 0.74) 72.33%);
    font-family: 'Palanquin', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #0C1120;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    left: 80em;
    top: 10em;
}

.btn-retour-show-partenaire:hover {
    color: #0C1120;
    background: 
        linear-gradient(90deg, 
        rgba(229, 229, 229, 0.74) 0%, rgba(44, 77, 144, 0.75) 96.45%);
}

.titre-partenaire-show {
    color: #0C1120;
    margin-top: 2em;
    margin-bottom: 0.4em;
    font-family: Pt, serif;
    font-size: 32px;
    letter-spacing: 0.1px;
}

.statut-partenaire-show {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #dfe0e0;
}

.statut-actif {
    background-color: green;
}

.statut-inactif {
    background-color: red;
}

.global-button-edit-partenaire {
    display: flex;
    justify-content: center;
}

.button-edit-partenaire {
    border-radius: 30px;
    background: 
        linear-gradient(90deg, #2C4D90 0%, 
        rgba(229, 229, 229, 0.74) 72.33%);
    font-family: 'Palanquin', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #0C1120;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.button-edit-partenaire:hover {
    color: #0C1120;
    background: 
        linear-gradient(90deg, 
        rgba(229, 229, 229, 0.74) 0%, rgba(44, 77, 144, 0.75) 96.45%);
}



.new-structure-show-partenaire {
    margin-left: 1em;
}

.titre-partenaire-show-h2 {
    color: #0C1120;
    margin-bottom: 1em;
    margin-top: 2em;
    font-family: Pt, serif;
    font-size: 32px;
    letter-spacing: 0.1px;
}

.thead-show-partenaire {
    background-color: rgb(50, 130, 224);
    color: #dfe0e0;
    padding-bottom: 10px;
}

.th-show-partenaire {
    font-family: 'Palanquin', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.tr-show-partenaire {
    font-family: 'Nunito Sans', sans-serif;
}

.td-actions-show-partenaire {
    background-color: #dfe0e0 !important;
    color: #0C1120;
}

.form-partenaire-show {
    display: grid;
    justify-content: space-evenly;
}

.form-check-partenaire-show {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3em;
    margin-bottom: 0.8em;
}

.aside-partenaire-show {
    margin-bottom: 10em;
}
