<form method="post" class="form-delete-module" action="{{ path('app_module_delete', {'id': module.id}) }}" onsubmit="return confirm('Êtes-vous sûre de voulour supprimer ce module?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ module.id) }}">
    <button class="btn btn-delete-module">Supprimer</button>
</form>
