{{ form_start(form, {'attr' : {'class' : 'form-save-module'}}) }}

    <div class="form-container-row-module-save">
        {{ form_widget(form) }}
    </div>

    <div class="container-btn-save-module">
        <button class="btn btn-save-module">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}
