{% extends 'base.html.twig' %}

{% block title %}Modifier Module{% endblock %}
{% block meta_description %}Formulaire de modification d'un module{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <a class="btn-retour-edit-module" href="{{ path('app_module_index') }}">Retour</a>
    <h1 class="titre-module-edit text-center">Modifier Module</h1>

    {{ include('module/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
