{% extends 'base.html.twig' %}

{% block title %}New Partenaire Module{% endblock %}

{% block body %}
    <h1>Partenaire Module</h1>

    {{ include('partenairemodule/_form.html.twig') }}

{% endblock %}